In [16]:
from time import time

import pandas as pd
from sqlalchemy import create_engine
import os

DB data

In [17]:
user = 'root'
password = 'root'
host = 'localhost'
port = '5432'
db = 'ny_taxi'
table_name = 'green_taxi'
url = 'wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz'

Creating the engine

In [18]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

Checking the connection to the DB

In [19]:
engine.connect()

Donwloading the green taxi data

In [20]:
if url.endswith('.csv.gz'):
    csv_name = 'output.csv.gz'
else:
    csv_name = 'output.csv'

In [21]:
os.system(f"wget {url} -O {csv_name}")

--2025-01-21 22:20:29--  http://wget/
Resolving wget (wget)... failed: Name or service not known.
wget: unable to resolve host address ‘wget’
--2025-01-21 22:20:31--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250122T032032Z&X-Amz-Expires=300&X-Amz-Signature=4ddddf611c66da13656e03782487dc3522750bea1a2d5eb8d9758fb322083bda&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-21 22:20:31--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250122T032032Z&X-Amz-Expires=300&X-Amz-Signature=4ddddf611c66da13656e03782487dc3522750bea1a2d5eb8d9758fb322083bda&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘output.csv.gz’

     0K .......... .......... .......... .......... ..........  0% 1.66M 5s
    50K .......... .......... .......... .......... ..........  1% 1.54M 5s
   100K .......... .......... .......... .......... ..........  1% 9.31M 4s
   150K .......... .......... .......... .......... ..........  2% 8.42M 3s
   200K .......... .......... .......... .......... ..........  3% 3.56M 3s
   250K .......... .......... .......... .......... ..........  3% 6.19M 2s
   300K .......... .......... .......... .......... ..........  4% 10.9M 2s
   350K .......... .......... .......... .......... ..........  4% 13.2M 2s
   400K .......... .......... .......... .......... ..........  5% 23.5M 2s
   450K .......... .......... .......... .......... ..........  6% 3.23M 2s
   500K .......... .......... .......... .......... ..........  6% 47.3M 2s
   550K .......... .......... .......... .......... ..........  7% 30.1M 2s
   600K .......... .......... .......... .......... ..........  8% 21.8M 1s
   650K .......... .......... .......... .......... ..........  8% 39.2M 1s
   700K .......... .......... .......... .......... ..........  9% 20.5M 1s
   750K .......... .......... .......... .......... ..........  9% 33.5M 1s
   800K .......... .......... .......... .......... .......... 10% 28.9M 1s
   850K .......... .......... .......... .......... .......... 11% 11.6M 1s
   900K .......... .......... .......... .......... .......... 11% 4.63M 1s
   950K .......... .......... .......... .......... .......... 12% 49.2M 1s
  1000K .......... .......... .......... .......... .......... 13% 36.4M 1s
  1050K .......... .......... .......... .......... .......... 13% 38.1M 1s
  1100K .......... .......... .......... .......... .......... 14% 36.4M 1s
  1150K .......... .......... .......... .......... .......... 14% 44.2M 1s
  1200K .......... .......... .......... .......... .......... 15% 40.9M 1s
  1250K .......... .......... .......... .......... .......... 16% 53.0M 1s
  1300K .......... .......... .......... .......... .......... 16% 68.0M 1s
  1350K .......... .......... .......... .......... .......... 17% 49.1M 1s
  1400K .......... .......... .......... .......... .......... 17% 67.4M 1s
  1450K .......... .......... .......... .......... .......... 18% 52.6M 1s
  1500K .......... .......... .......... .......... .......... 19% 37.1M 1s
  1550K .......... .......... .......... .......... .......... 19% 69.9M 1s
  1600K .......... .......... .......... .......... .......... 20% 67.9M 1s
  1650K .......... .......... .......... .......... .......... 21% 69.6M 1s
  1700K .......... .......... .......... .......... .......... 21% 63.7M 1s
  1750K .......... .......... .......... .......... .......... 22% 73.4M 1s
  1800K .......... .......... .......... .......... .......... 22% 60.1M 1s
  1850K .......... .......... .......... .......... .......... 23% 7.87M 1s
  1900K .......... .......... .......... .......... .......... 24% 61.5M 1s
  1950K .......... .......... .......... .......... .......... 24% 14.0M 1s
  2000K .......... .......... .......... .......... .......... 25% 75.4M 1s
  2050K .......... .......... .......... .......... .......... 26% 61.0M 0s
  2100K .......... .......... .......... .......... .......... 26% 71.9M 0s
  2150K .......... .......... .......... .......... .......... 27% 30.1M 0s
  2200K .......... .......... .......... .......... .......... 27% 71.4M 0s
  2250K .......... .......... .......... .......... .......... 28% 62.4M 0s
  2300K .......... .......... .......... .......... .......... 29% 61.6M 0s
  2350K .......... .......... .......... .......... .......... 29% 69.8M 0s
  2400K .......... .......... .......... .......... .......... 30% 73.2M 0s
  2450K .......... .......... .......... .......... .......... 30% 70.4M 0s
  2500K .......... .......... .......... .......... .......... 31% 78.2M 0s
  2550K .......... .......... .......... .......... .......... 32% 67.0M 0s
  2600K .......... .......... .......... .......... .......... 32% 59.9M 0s
  2650K .......... .......... .......... .......... .......... 33% 65.7M 0s
  2700K .......... .......... .......... .......... .......... 34% 51.9M 0s
  2750K .......... .......... .......... .......... .......... 34% 69.2M 0s
  2800K .......... .......... .......... .......... .......... 35% 61.2M 0s
  2850K .......... .......... .......... .......... .......... 35% 70.5M 0s
  2900K .......... .......... .......... .......... .......... 36% 63.1M 0s
  2950K .......... .......... .......... .......... .......... 37% 76.3M 0s
  3000K .......... .......... .......... .......... .......... 37% 23.9M 0s
  3050K .......... .......... .......... .......... .......... 38% 67.1M 0s
  3100K .......... .......... .......... .......... .......... 39% 48.6M 0s
  3150K .......... .......... .......... .......... .......... 39% 61.9M 0s
  3200K .......... .......... .......... .......... .......... 40% 70.5M 0s
  3250K .......... .......... .......... .......... .......... 40% 65.6M 0s
  3300K .......... .......... .......... .......... .......... 41% 70.1M 0s
  3350K .......... .......... .......... .......... .......... 42% 66.2M 0s
  3400K .......... .......... .......... .......... .......... 42% 64.2M 0s
  3450K .......... .......... .......... .......... .......... 43% 70.6M 0s
  3500K .......... .......... .......... .......... .......... 43% 47.0M 0s
  3550K .......... .......... .......... .......... .......... 44% 69.9M 0s
  3600K .......... .......... .......... .......... .......... 45% 70.8M 0s
  3650K .......... .......... .......... .......... .......... 45% 64.3M 0s
  3700K .......... .......... .......... .......... .......... 46% 19.5M 0s
  3750K .......... .......... .......... .......... .......... 47% 66.5M 0s
  3800K .......... .......... .......... .......... .......... 47% 66.0M 0s
  3850K .......... .......... .......... .......... .......... 48% 65.7M 0s
  3900K .......... .......... .......... .......... .......... 48% 46.3M 0s
  3950K .......... .......... .......... .......... .......... 49% 65.1M 0s
  4000K .......... .......... .......... .......... .......... 50% 67.2M 0s
  4050K .......... .......... .......... .......... .......... 50% 64.9M 0s
  4100K .......... .......... .......... .......... .......... 51% 62.3M 0s
  4150K .......... .......... .......... .......... .......... 52% 65.2M 0s
  4200K .......... .......... .......... .......... .......... 52% 66.3M 0s
  4250K .......... .......... .......... .......... .......... 53% 71.5M 0s
  4300K .......... .......... .......... .......... .......... 53% 47.8M 0s
  4350K .......... .......... .......... .......... .......... 54% 63.4M 0s
  4400K .......... .......... .......... .......... .......... 55% 18.6M 0s
  4450K .......... .......... .......... .......... .......... 55% 67.3M 0s
  4500K .......... .......... .......... .......... .......... 56% 66.6M 0s
  4550K .......... .......... .......... .......... .......... 57% 82.3M 0s
  4600K .......... .......... .......... .......... .......... 57% 74.1M 0s
  4650K .......... .......... .......... .......... .......... 58% 79.8M 0s
  4700K .......... .......... .......... .......... .......... 58% 60.5M 0s
  4750K .......... .......... .......... .......... .......... 59% 71.8M 0s
  4800K .......... .......... .......... .......... .......... 60% 60.8M 0s
  4850K .......... .......... .......... .......... .......... 60% 70.3M 0s
  4900K .......... .......... .......... .......... .......... 61% 1.39M 0s
  4950K .......... .......... .......... .......... .......... 61% 60.8M 0s
  5000K .......... .......... .......... .......... .......... 62% 68.7M 0s
  5050K .......... .......... .......... .......... .......... 63% 7.44M 0s
  5100K .......... .......... .......... .......... .......... 63% 77.0M 0s
  5150K .......... .......... .......... .......... .......... 64%  190M 0s
  5200K .......... .......... .......... .......... .......... 65%  584M 0s
  5250K .......... .......... .......... .......... .......... 65%  510M 0s
  5300K .......... .......... .......... .......... .......... 66%  834M 0s
  5350K .......... .......... .......... .......... .......... 66%  751M 0s
  5400K .......... .......... .......... .......... .......... 67%  633M 0s
  5450K .......... .......... .......... .......... .......... 68%  496M 0s
  5500K .......... .......... .......... .......... .......... 68%  548M 0s
  5550K .......... .......... .......... .......... .......... 69%  570M 0s
  5600K .......... .......... .......... .......... .......... 70%  971M 0s
  5650K .......... .......... .......... .......... .......... 70%  509M 0s
  5700K .......... .......... .......... .......... .......... 71%  710M 0s
  5750K .......... .......... .......... .......... .......... 71%  526M 0s
  5800K .......... .......... .......... .......... .......... 72%  632M 0s
  5850K .......... .......... .......... .......... .......... 73%  492M 0s
  5900K .......... .......... .......... .......... .......... 73%  411M 0s
  5950K .......... .......... .......... .......... .......... 74%  743M 0s
  6000K .......... .......... .......... .......... .......... 74%  739M 0s
  6050K .......... .......... .......... .......... .......... 75%  831M 0s
  6100K .......... .......... .......... .......... .......... 76%  736M 0s
  6150K .......... .......... .......... .......... .......... 76%  511M 0s
  6200K .......... .......... .......... .......... .......... 77%  550M 0s
  6250K .......... .......... .......... .......... .......... 78%  748M 0s
  6300K .......... .......... .......... .......... .......... 78%  510M 0s
  6350K .......... .......... .......... .......... .......... 79%  648M 0s
  6400K .......... .......... .......... .......... .......... 79%  533M 0s
  6450K .......... .......... .......... .......... .......... 80%  531M 0s
  6500K .......... .......... .......... .......... .......... 81%  542M 0s
  6550K .......... .......... .......... .......... .......... 81%  725M 0s
  6600K .......... .......... .......... .......... .......... 82%  720M 0s
  6650K .......... .......... .......... .......... .......... 83%  708M 0s
  6700K .......... .......... .......... .......... .......... 83%  490M 0s
  6750K .......... .......... .......... .......... .......... 84%  725M 0s
  6800K .......... .......... .......... .......... .......... 84%  462M 0s
  6850K .......... .......... .......... .......... .......... 85%  474M 0s
  6900K .......... .......... .......... .......... .......... 86%  555M 0s
  6950K .......... .......... .......... .......... .......... 86%  596M 0s
  7000K .......... .......... .......... .......... .......... 87%  719M 0s
  7050K .......... .......... .......... .......... .......... 87%  805M 0s
  7100K .......... .......... .......... .......... .......... 88%  573M 0s
  7150K .......... .......... .......... .......... .......... 89%  595M 0s
  7200K .......... .......... .......... .......... .......... 89%  475M 0s
  7250K .......... .......... .......... .......... .......... 90%  459M 0s
  7300K .......... .......... .......... .......... .......... 91%  513M 0s
  7350K .......... .......... .......... .......... .......... 91%  614M 0s
  7400K .......... .......... .......... .......... .......... 92%  513M 0s
  7450K .......... .......... .......... .......... .......... 92%  846M 0s
  7500K .......... .......... .......... .......... .......... 93%  462M 0s
  7550K .......... .......... .......... .......... .......... 94%  670M 0s
  7600K .......... .......... .......... .......... .......... 94% 8.93M 0s
  7650K .......... .......... .......... .......... .......... 95% 79.3M 0s
  7700K .......... .......... .......... .......... .......... 96% 43.2M 0s
  7750K .......... .......... .......... .......... .......... 96% 53.0M 0s
  7800K .......... .......... .......... .......... .......... 97% 28.2M 0s
  7850K .......... .......... .......... .......... .......... 97%  134M 0s
  7900K .......... .......... .......... .......... .......... 98%  300M 0s
  7950K .......... .......... .......... .......... .......... 99% 3.24M 0s
  8000K .......... .......... .......... .......... .......... 99% 79.3M 0s
  8050K .......... ........                                   100%  211M=0.3s

2025-01-21 22:20:32 (26.6 MB/s) - ‘output.csv.gz’ saved [8262584/8262584]

FINISHED --2025-01-21 22:20:32--
Total wall clock time: 3.6s
Downloaded: 1 files, 7.9M in 0.3s (26.6 MB/s)

1024

Adding data to de db

In [22]:
df = pd.read_csv(csv_name)

/tmp/ipykernel_14895/4168966316.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_name)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  object
 2   lpep_dropoff_datetime  476386 non-null  object
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 72.7+ MB

Transforming the datetime data to datetime format

In [24]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  476386 non-null  datetime64[ns]
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: datetime64[ns](2), float64(15), int64(2), object(1)
memory usage: 72.7+ MB

In [26]:
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

0

In [27]:
df.to_sql(name=table_name, con=engine, if_exists='append')

386

In [28]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.00,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.50,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.00,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,NaN,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,29.57,2.75,0.5,0.00,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,NaN,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,23.11,2.75,0.5,0.00,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,NaN,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,15.23,2.75,0.5,0.00,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,NaN,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,36.12,2.75,0.5,0.00,0.00,NaN,0.3,39.67,NaN,NaN,NaN